﻿@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto:300,300i,400,400i,900,900i');
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
    font-family: 'Roboto', sans-serif;
    background-color: #B3D89C;
    color: #87919E;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.jumbotron {
    margin-bottom: 2rem;
    background-color: #f9f9f9;
    border-radius: 0px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#about {
    font-size: 12px;
}


.info-container {
    border-radius: 0px;
    padding-top: 50px;
}
/*
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

*/

.container-fluid {
    padding: 0;
    margin: 0;
    display: block;
    width: auto;
}

.palette ul li {
    display: inline-block;
    height: 100px;
    width: 100px;
}

/* Adjust nav bar buttons. Used to override bootstrap styling*/
.navChange a {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 4px;
    margin-right: 4px;
    color: #f9f9f9;
    background-color: #6096BA;
    border-color: #6096BA;
}

.palette li {
    padding: 20px;
    text-align: center;
    color: black;
}

.spring .cp1 {
    border-radius: 0px;
    background-color: #FDF19D;
}

.spring .cp2 {
    border-radius: 0px;
    background-color: #6096BA;
}

.spring .cp3 {
    border-radius: 0px;
    background-color: #EE7396;
}

.spring .cp4 {
    border-radius: 0px;
    background-color: #87919E;
}

.spring .cp5 {
    border-radius: 0px;
    background-color: #F9F9F9;
}

.summer .cp1 {
    border-radius: 0px;
    background-color: #B3D89c;
}

.summer .cp2 {
    border-radius: 0px;
    background-color: #6096BA;
}

.summer .cp3 {
    border-radius: 0px;
    background-color: #F7CE5B;
}

.summer .cp4 {
    border-radius: 0px;
    background-color: #87919E;
}

.summer .cp5 {
    border-radius: 0px;
    background-color: #F9F9F9;
}

.winter .cp1 {
    border-radius: 0px;
    background-color: #274C77;
}

.winter .cp2 {
    border-radius: 0px;
    background-color: #6096BA;
}

.winter .cp3 {
    border-radius: 0px;
    background-color: #CDE6F5;
}

.winter .cp4 {
    border-radius: 0px;
    background-color: #87919E;
}

.winter .cp5 {
    border-radius: 0px;
    background-color: #F9F9F9;
}


.palette-container {
    padding-top: 10px;
    padding: 10px;
    background-color: white;
    margin: 20px 0;
}

.image-bar {
    background-image: url("Images/landscape-666927_1920.jpg");
    background-repeat: repeat;
    background-position: 0px -330px;
    background-size: cover;
    padding: 100px;
    max-height: 320px;
}

.image-bar2 {
    background-image: url(/Content/Images/Top.png);
    background-repeat: repeat;
    background-position: 0px -330px;
    background-size: cover;
    padding: 100px;
    max-height: 320px;
}

.table {
    background-color: #333333;
}

tbody {
    background: lightgrey;
}

.container-fluid {
    padding: 0;
}

.content {
    border-radius: 0px;
    background-color: #f9f9f9;
    font: #6096BA;
    padding: 50px;
    text-align: center;
    max-width: 800px;
    margin: 70px auto 0;
}


/*This will adjust content(everything below the nav bar)*/
.contentSection {
    padding-top: 150px;
}

.headers {
    font-family: 'Pacifico', cursive;
}

h1 {
    font-family: 'Pacifico', cursive;
}

h2 {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color: #F7CE5B;
}

h3 {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color: #87919E;
}

h4 {
    font-weight: bold;
    color: #6096BA;
}

h5 {
    font-weight: bold;
    color: #F7CE5B;
}

h6 {
    font-weight: bold;
}

.bg-light {
    background-color: #f9f9f9 !important;
}

.btn-light {
    color: #6096BA;
}

button-hover {
    color: #87919E;
}

.row {
    margin: 0;
}

.pictures {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#longText1 {
    max-width: 420px;
}

table {
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
    color: #4A5057;
}

table, th, td {
    border: 1.5px solid white;
    border-collapse: collapse;
    border-radius: 3px;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #F9F9F9;
}

tr:nth-child(odd) {
    background-color: #F7CE5B;
}

th {
    color: #f9f9f9;
    background-color: #6096BA;
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2px;
    padding-right: 2px;
    color: #f9f9f9;
    text-align: center;
    background: #6096BA;
    caption-side: bottom;
}

ol {
    max-width: 350px;
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 40px;
}

    ol li {
        margin: 0 0 0.5rem 0;
        counter-increment: my-awesome-counter;
        position: relative;
    }

        ol li::before {
            font-family: 'Pacifico', cursive;
            content: counter(my-awesome-counter);
            color: #f9f9f9;
            font-size: 1.5rem;
            font-weight: bold;
            position: absolute;
            --size: 32px;
            left: calc(-1 * var(--size) - 10px);
            line-height: var(--size);
            width: var(--size);
            height: var(--size);
            top: 0;
            background: #6096BA;
            border-radius: 50%;
            text-align: center;
        }

textarea, .form-control, .form-textarea-wrapper textarea, select {
    height: auto;
    width: inherit;
    border: 1px solid #6096BA;
    padding: 10px 15px;
    font-family: 'Roboto', Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1rem;
    line-height: 25px;
    font-weight: 200;
    box-shadow: none;
    background: white;
    /* margin-bottom: 25px; */
    border-radius: 0px;
    /* background-clip: padding-box; */
    color: #6096BA;
}

    textarea.form-control {
        -webkit-border-radius: 20px;
        border-radius: 0px;
        background-clip: padding-box;
    }

input, select, textarea {
    max-width: 100%;
    width: auto;
}

.btn {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    color: white;
    font-family: 'Roboto', Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 800;
    background: #6096BA;
    font-size: 15px;
    font-size: 0.938rem;
    line-height: 24px;
    transition: all 0.5s ease;
    -webkit-border-radius: 20px;
    border-radius: 0px;
    background-clip: padding-box;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, select {
    text-transform: none;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}

.container ul li:before {
    content: "\0BB \020";
}

.palette-container ul li:before {
    content: "";
}

/*This will adjust color of name displayed in navbar after logging in*/
#displayName {
    color: black;
    background-color: #f9f9f9;
}

#megaTable {
    text-align: center;
    border-radius: 12px 12px 12px 12px;
    background-color: #f9f9f9;
}

/*This will set up the panel for an overlay pannel*/
#overlay1, #overlay2, #overlay3, #overlay4, #overlay5, #overlay6, #overlay7, #overlay8, #overlay9, #overlay10, #overlay11, #overlay12 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    padding-top: 140px;
    overflow: scroll;
}


.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*loading indicator 2 (vertically expanding circles)*/
.alignBar {
    display: inline-block;
    height: 30px;
    width: 3px;
    margin: 150px auto;
    vertical-align: middle;
}

.loadingdiv span {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 50px auto;
    background: #97c6fc;
    border-radius: 9px;
    -webkit-animation: loading .8s infinite alternate;
    -moz-animation: loading .8s infinite alternate;
    box-shadow: 1px 1px 1px #444444;
}

    .loadingdiv span:nth-of-type(2) {
        background: #69a5ea;
        -webkit-animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
    }

    .loadingdiv span:nth-of-type(3) {
        background: #4a8bd6;
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
    }

    .loadingdiv span:nth-of-type(4) {
        background: #2464ad;
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
    }

    .loadingdiv span:nth-of-type(5) {
        background: #0b4484;
        -webkit-animation-delay: 0.8s;
        -moz-animation-delay: 0.8s;
    }

@-webkit-keyframes loading {
    0% {
        width: 20px;
        height: 60px;
        -webkit-transform: translateZ(0);
    }

    100% {
        width: 20px;
        height: 20px;
        -webkit-transform: translateZ(20px);
    }
}

@-moz-keyframes loading {
    0% {
        width: 20px;
        height: 60px;
        -moz-transform: translateZ(0);
    }

    100% {
        width: 20px;
        height: 20px;
        -moz-transform: translateZ(-20px);
    }
}

/*This is used to setup a small panel with text.*/
.imageText {
    position: absolute;
    top: 25px;
    left: 50px;
    background-color: black;
    font-size: 60px;
    padding-right: 20px;
    padding-left: 20px;
    opacity: .80;
    border-radius: 35px;
    text-align: center;
}

/*This is used to setup a panel to hold an image with text over it.*/
div.imagePanel {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    overflow: hidden;
}