﻿@{
    ViewBag.Title = "About";
}

<div class="container">

    <div class="jumbotron">
        <h2>Our Team</h2><br />
        <h4>Tiffany Jansen</h4>
        <div class="row">
            <div class="col-md-3">
                <img src="@Url.Content("~/Content/Images/Tif.png")" style="width:210px; height:170px" />
                <img src="@Url.Content("~/Content/Images/readygotravel.png")" style="width:210px; height:100px" />
            </div>
            <div class="col-md-9">
                <h6>Why did you choose to be a computer scientist?</h6>
                <p id="about">
                    I originally I wanted to be a high school math teacher. I was required to take a CS class and found that it was kind of fun, but I think it was the second CS class I took that really sealed it for me. I was dreaming about making the code do what I wanted it to, and it just made me realize that the problems in Computer Science are closely related to the problems in Mathematics and I decided that CS would be a better fit for me.
                </p>
                <h6>What do you aspire to do after college?</h6>
                <p id="about">
                    I would like to do something that challenges me. I want to have to think about problems and try to fix them. I would love to have a job making algorithms or doing something mathematical, but I also really enjoy doing Software Engineering too. Honestly, I don’t know EXACTLY what I want to do, but I think it would be super fun to use my degree to do something with Computers that helps someone somewhere. I want to make a difference. I keep thinking about going to get my PhD and becoming a professor of Computer Science… I don’t know. I just have so many options that it’s hard to choose.
                </p>
                <h6>What do you like most about traveling?</h6>
                <p id="about">
                    I don’t usually travel. I have only been on 2 round-trip flights in my life, so I don’t have a lot of experience, but what I do like is the feeling of being free. When I travel, I have none of the responsibilities that I have when I’m home. I get to do what I want. I think seeing all the sights and seeing the people and comparing it to home is cool too.
                </p>
                <h6>What would your dream destination be and why?</h6>
                <p id="about">
                    My dream destination would be somewhere warm and sunny!
                </p>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <h4>Adrian Vickers</h4>
        <div class="row">
            <div class="col-md-3">
                <img src="@Url.Content("~/Content/Images/Adr.png")" style="width:210px; height:170px" />
                <img src="@Url.Content("~/Content/Images/readygotravel.png")" style="width:210px; height:100px" />
            </div>
            <div class="col-md-9">
                <h6>Why did you choose to be a computer scientist?</h6>
                <p id="about">
                    I always loved troubleshooting and building my own computers growing up.  I figured it would be great to learn more about how computers worked at a software as well as hardware level.  Then I could do something I loved and turn it into a potential profession.
                </p>
                <h6>What do you aspire to do after college?</h6>
                <p id="about">
                    Software design, or database administration sounds very appealing.  I love working with Databases and I am fascinated with storing and managing large sets of data.
                </p>
                <h6>What do you like most about traveling?</h6>
                <p id="about">
                    Knowing that there is always somewhere new to go and something new to see.  I also love the freedom of it, how you feel when you go somewhere else while stepping outside of the normal day to day grind of work/school.  You get to be somewhere/someone else for a while and simply enjoy what you worked and saved up for.
                </p>
                <h6>What would your dream destination be and why?</h6>
                <p id="about">
                    New Zealand because it has so many sites and wildlife that are so very different from most places in the world.  You get to see a variety of climate and landscapes that are very unique.  Not to mention all of the locations you could visit that have been used in multiple movies.
                </p>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <h4>Hector Acosta-Cervantes</h4>
        <div class="row">
            <div class="col-md-3">
                <img src="@Url.Content("~/Content/Images/Hec.png")" style="width:210px; height:170px" />
                <img src="@Url.Content("~/Content/Images/readygotravel.png")" style="width:210px; height:100px" />
            </div>
            <div class="col-md-9">
                <h6>Why did you choose to be a computer scientist?</h6>
                <p id="about">
                    The main reason was because I found the first computer science class I ever took to be really fun and easy. I was first introduced to computer science in my senior year in high school when I took a computer science class. I didn't have much interest in it at first, especially since it was my backup choice as an elective and I was disappointed at not getting my first choice. After some time I eventually found it to be my most enjoyable class. At the time I didn’t think about making it my future field of study but as college came around I decided to just stick with what I liked which was computer science.
                </p>
                <h6>What do you aspire to do after college?</h6>
                <p id="about">
                    I will hopefully get a decent job and make some decent money. I'm not exactly sure what kind of job I want but probably something related to software development. Gaining some experience is my main focus.
                </p>
                <h6>What do you like most about traveling?</h6>
                <p id="about">
                    I feel like I'm probably one of the worst people you can ask this question to since I don't really travel at all. The only place I have traveled to was California when I was five or six.
                </p>
                <h6>What would your dream destination be and why?</h6>
                <p id="about">
                    I don't really think about traveling anywhere but if I had to choose somewhere then probably France. I took 4 years of French in high school and it would be cool if I could actually use it for something. Maybe then I could also re-learn most of the language since I probably forgot about 75% of it.
                </p>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <h4>Stacia Fry</h4>
        <div class="row">
            <div class="col-md-3">
                <img src="@Url.Content("~/Content/Images/Sta.png")" style="width:210px; height:170px" />
                <img src="@Url.Content("~/Content/Images/readygotravel.png")" style="width:210px; height:100px" />
            </div>
            <div class="col-md-9">
                <h6>Why did you choose to be a computer scientist?</h6>
                <p id="about">
                    I decided to study computer science because I have been an avid computer user since I was 11 years old and my dad has worked and taught in this field my entire life. I kind of started on a whim after pursuing other career venues, and I’ve fallen deep in love with the problem solving aspect of coding.
                </p>
                <h6>What do you aspire to do after college?</h6>
                <p id="about">
                    Once I graduate, I hope to pursue a rewarding career in either software engineering or data science.
                </p>
                <h6>What do you like most about traveling?</h6>
                <p id="about">
                    The best part of travelling is experiencing other cultures, cuisine, and climate. I have travelled to various places both in and outside of the United States and I never want to stop. It’s such an important experience for personal growth.
                </p>
                <h6>What would your dream destination be and why?</h6>
                <p id="about">
                    My dream destination has and will always be Japan (despite having visited the country three times!). Kyoto is the most beautiful city I’ve ever seen and I cannot wait to return to its shrines and temples again and again.
                </p>
            </div>
        </div>
    </div>
</div>