﻿@model  readygotravel.Models.Person
@using Microsoft.AspNet.Identity;
@using readygotravel.Models;
@using Microsoft.AspNet.Identity.EntityFramework;

@{
    ViewBag.Title = "Top Locations";
}
<div class="image-bar2">
    <div class="content">
        @if (Request.IsAuthenticated)
        {
            int position = @User.Identity.GetUserName().IndexOf("@");
            <h2>Welcome @User.Identity.GetUserName().ToString().Substring(0, position)!</h2>
        }
        else
        {
            <h2>Welcome Guest!</h2>
        }
        <div class="d-flex justify-content-center">
            <div class="row">
                <h3>Here we may be able to help you pick your next</h3>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="row">
                <h3> Dream Destination!</h3>
            </div>
        </div>
        <hr />
        <div class="d-flex justify-content-center">
            <div class="row">
                <h4>Here we Showcase the Top 12 Locations to Visit in the US!</h4>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="row">
                <h4>Click on the Picture of Any of the Destinations Below to Find out More About Each Location!</h4>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="container">
        <div class="jumbotron">

            <div><h3 style="text-align:center">Top Locations</h3></div>
            <hr />
            <div class="row">
                <div class="col-4">
                    <h6 style="text-align: center; margin:0;padding:0;">#1: Yellowstone Park - Wyoming</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/Yellowstone.jpg")" style="width:270px; height:230px;" onclick="on(1)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact: </h6><p style="text-align: center; margin:0;padding:0;">It is the world's first national park established in 1872</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[0] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[0]</p>

                </div>
                <div class="col-sm-4">
                    <h6 style="text-align: center; margin:0;padding:0;">#2: Maui - Hawaii</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/Maui.jpg")" style="width:270px; height:230px" onclick="on(2)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">It has 30 miles of white, red, and black sand beaches</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[1] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[1]</p>
                </div>
                <div class="col-sm-4">
                    <h6 style="text-align: center; margin:0;padding:0;">#3: Grand Canyon - Arizona</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/Grand-Canyon.jpg")" style="width:270px; height:230px" onclick="on(3)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">At its widest point the Grand Canyon stretches 18 miles across</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[2] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[2]</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;">#4: New York City - New York</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/New-York.jpg")" style="width:270px; height:230px" onclick="on(4)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">More than 800 languages are spoken there among its 8 million citizens</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[3] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[3]</p>
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;">#5: San Francisco - California</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/San-Fran.jpg")" style="width:270px; height:230px" onclick="on(5)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">It is home to the largest competition of American wines in the world</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[4] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[4]</p>
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;">#6: Washinton D.C. - Maryland</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/D-C.jpg")" style="width:270px; height:230px" onclick="on(6)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">The Library of Congress is the largest library in the world</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[5] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[5]</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;">#7: Boston - Massachusetts</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/Boston.jpg")" style="width:270px; height:230px" onclick="on(7)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">It has is the deepest tunnel in the US running nearly 90 feet underground</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[6] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[6]</p>
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;">#8: Lake Tahoe - Nevada</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/Lake-Tahoe.jpg")" style="width:270px; height:230px" onclick="on(8)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">Lake Tahoe is about 22 miles long and 12 miles wide with 72 miles of shoreline</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[7] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[7]</p>
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;">#9: Chicago - Illinois</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/Chicago.jpg")" style="width:270px; height:230px" onclick="on(9)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">Four states can be seen from the Skydeck of the Sears Tower Building</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[8] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[8]</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;">#10: New Orleans - Louisiana</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/New-Orleans.jpg")" style="width:270px; height:230px" onclick="on(10)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">The total mileage of canals in New Orleans exceeds that of Venice in Italy</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[9] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[9]</p>
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;">#11: Glacier National Park - Montana</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/Glacier.jpg")" style="width:270px; height:230px" onclick="on(11)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">The array of wildlife has hardly changed since the Lewis & Clark Expedition</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[10] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[10]</p>
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;">#12: Seattle - Washington</h6>

                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/Seattle.jpg")" style="width:270px; height:230px" onclick="on(12)" />

                    <h6 style="text-align: center; margin:0;padding:0;">Location Fun Fact:</h6><p style="text-align: center; margin:0;padding:0;">The largest man-made island in the US is Seattle’s Harbor Island</p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Searched Hotel Star Rating </h6><p style="text-align: center; margin:0;padding:0;"> @ViewBag.hotelList[11] </p>
                    <h6 style="text-align: center; margin:0;padding:0;">Avg Food Cost Per Day/Per Person: </h6><p style="text-align: center; margin:0;padding:0;">$@ViewBag.foodList[11]</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    @if (Request.IsAuthenticated)
                    {
                        var user = User.Identity;
                        ApplicationDbContext context = new ApplicationDbContext();
                        var UserManager = new UserManager<ApplicationUser>
                            (new UserStore<ApplicationUser>
                               (context));
                        var roles = UserManager.GetRoles(user.GetUserId());
                        if (!(roles.Count == 0))
                        {
                            if (roles[0].ToString() == "Admin")
                            {
                                <br />
                                <br />
                                <input class="btn btn-default mx-auto d-block" type="button" value="Show Top Searched Locations" onclick="location.href='@Url.Action("Display", "TopLocations")'" />
                            }
                        }
                    }
                </div>
                <div class="col-sm"></div>
            </div>
        </div>
    </div>

</div>

<!--Overlay pannels for each locations-->
<div id="overlay1" onclick="off(1)">
        <div class="container">
            <div class="jumbotron">
                <h4 style="text-align: center">#1: Yellowstone Park - Wyoming</h4>
                <hr />

                <!--1.Images of location-->
                <h6 style="text-align: center">Photos of Yellowstone Park:</h6>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Content/Images/topLocationImages/1_1.jpg" style="width:100%; height:200px" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/Content/Images/topLocationImages/1_2.jpg" style="width:100%; height:200px" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/Content/Images/topLocationImages/1_3.jpg" style="width:100%; height:200px" />
                    </div>
                </div>
                <hr />
                <br />

                <!--1.Images of food-->
                <h6 style="text-align: center">Unique Food Options Found at this Location:</h6>
                <br />
                <div class="row">
                    <div class="col-sm">
                        <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[0]</h6>
                        <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[0] + "-1.png")" style="width:270px; height:200px" />
                    </div>
                    <div class="col-sm">
                        <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[1]</h6>
                        <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[0] + "-2.png")" style="width:270px; height:200px" />
                    </div>
                    <div class="col-sm">
                        <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[2]</h6>
                        <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[0] + "-3.png")" style="width:270px; height:200px" />
                    </div>
                </div>
                <hr />

                <!--1.Hotel cost part-->
                <br /><h6 style="text-align: center">Estimated hotel cost by star rating:</h6><br />
                <div class="star1" align="center"></div>
            </div>
        </div>
</div>
<div id="overlay2" onclick="off(2)">
        <div class="container">
            <div class="jumbotron">
                <h4 style="text-align: center">#2: Maui - Hawaii</h4>
                <hr />

                <!--2.Images of location-->
                <h6 style="text-align: center">Photos of Maui:</h6>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Content/Images/topLocationImages/2_1.jpg" style="width:100%; height:200px" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/Content/Images/topLocationImages/2_2.jpg" style="width:100%; height:200px" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/Content/Images/topLocationImages/2_3.jpg" style="width:100%; height:200px" />
                    </div>
                </div>
                <hr />
                <br />

                <!--2.Image of food-->
                <h6 style="text-align: center">Unique Food Options Found at this Location:</h6>
                <br />
                <div class="row">
                    <div class="col-sm">
                        <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[3]</h6>
                        <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[1] + "-1.png")" style="width:270px; height:200px" />
                    </div>
                    <div class="col-sm">
                        <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[4]</h6>
                        <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[1] + "-2.png")" style="width:270px; height:200px" />
                    </div>
                    <div class="col-sm">
                        <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[5]</h6>
                        <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[1] + "-3.png")" style="width:270px; height:200px" />
                    </div>
                </div>
                <hr />

                <!--2.Hotel cost part-->
                <br /><h6 style="text-align: center">Estimated hotel cost by star rating:</h6><br />
                <div class="star2" align="center"></div>
            </div>
        </div>
</div>
<div id="overlay3" onclick="off(3)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center">#3: Grand Canyon - Arizona</h4>
            <hr />

            <!--3.Images of location-->
            <h6 style="text-align: center">Photos of Grand Canyon:</h6>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/3_1.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/3_2.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/3_3.jpg" style="width:100%; height:200px" />
                </div>
            </div>
            <hr />
            <br />

            <!--3.Images of food-->
            <h6 style="text-align: center">Unique Food Options Found at this Location:</h6>
            <br />
            <div class="row">
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[6]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[2] + "-1.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[7]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[2] + "-2.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[8]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[2] + "-3.png")" style="width:270px; height:200px" />
                </div>
            </div>
            <hr />
            <br />

            <!--3.Hotel cost part-->
            <br /><h6 style="text-align: center">Estimated Hotel cost by star rating:</h6><br />
            <div class="star3" align="center"></div>
        </div>
    </div>
</div>
<div id="overlay4" onclick="off(4)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center; margin:0;padding:0;">#4: New York City - New York</h4>
            <hr />

            <!--4.Images of location-->
            <h6 style="text-align: center">Photos of New York City:</h6>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/4_1.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/4_2.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/4_3.jpg" style="width:100%; height:200px" />
                </div>
            </div>
            <hr />
            <br />

            <!--4.Images of food-->
            <h6 style="text-align: center">Unique Food Options Found at this Location:</h6>
            <br />
            <div class="row">
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[9]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[3] + "-1.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[10]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[3] + "-2.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[11]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[3] + "-3.png")" style="width:270px; height:200px" />
                </div>
            </div>
            <hr />

            <!--4.Hotel cost part-->
            <br /><h6 style="text-align: center">Estimated hotel cost by star rating:</h6><br />
            <div class="star4" align="center"></div>
        </div>
    </div>
</div>
<div id="overlay5" onclick="off(5)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center; margin:0;padding:0;">#5: San Francisco - California</h4>
            <hr />

            <!--5.Images of location-->
            <h6 style="text-align: center">Photos of San Francisco:</h6>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/5_1.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/5_2.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/5_3.jpg" style="width:100%; height:200px" />
                </div>
            </div>
            <hr />
            <br />

            <!--5.Images of food-->
            <h6 style="text-align: center">Unique Food Options Found at this Location:</h6>
            <br />
            <div class="row">
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[12]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[4] + "-1.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[13]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[4] + "-2.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[14]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[4] + "-3.png")" style="width:270px; height:200px" />
                </div>
            </div>
            <hr />

            <!--5.Hotel cost part-->
            <br /><h6 style="text-align: center">Estimated hotel cost by star rating:</h6><br />
            <div class="star5" align="center"></div>
        </div>
    </div>
</div>
<div id="overlay6" onclick="off(6)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center; margin:0;padding:0;">#6: Washington D.C. - Maryland</h4>
            <hr />

            <!--6.Images of location-->
            <h6 style="text-align: center">Photos of Washington D.C:</h6>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/6_1.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/6_2.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/6_3.jpg" style="width:100%; height:200px" />
                </div>
            </div>
            <hr />
            <br />

            <!--6.Images of food-->
            <h6 style="text-align: center">Unique Food Options Found at this Location:</h6>
            <br />
            <div class="row">
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[15]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[5] + "-1.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[16]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[5] + "-2.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[17]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[5] + "-3.png")" style="width:270px; height:200px" />
                </div>
            </div>
            <hr />

            <!--6.Hotel cost part-->
            <br /><h6 style="text-align: center">Estimated hotel cost by star rating:</h6><br />
            <div class="star6" align="center"></div>
        </div>
    </div>
</div>
<div id="overlay7" onclick="off(7)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center; margin:0;padding:0;">#7: Boston - Massachusetts</h4>
            <hr />

            <!--7.Images of location-->
            <h6 style="text-align: center">Photos of Boston:</h6>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/7_1.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/7_2.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/7_3.jpg" style="width:100%; height:200px" />
                </div>
            </div>
            <hr />
            <br />

            <!--7.Images of food-->
            <h6 style="text-align: center">Unique Food Options Found at this Location:</h6>
            <br />
            <div class="row">
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[18]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[6] + "-1.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[19]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[6] + "-2.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[20]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[6] + "-3.png")" style="width:270px; height:200px" />
                </div>
            </div>
            <hr />

            <!--7.Hotel cost part-->
            <br /><h6 style="text-align: center">Estimated hotel cost by star rating:</h6><br />
            <div class="star7" align="center"></div>
        </div>
    </div>
</div>
<div id="overlay8" onclick="off(8)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center; margin:0;padding:0;">#8: Lake Tahoe - Nevada</h4>
            <hr />

            <!--8.Images of location-->
            <h6 style="text-align: center">Photos of Lake Tahoe:</h6>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/8_1.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/8_2.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/8_3.jpg" style="width:100%; height:200px" />
                </div>
            </div>
            <hr />
            <br />

            <!--8.Images of food-->
            <h6 style="text-align: center">Unique Food Options Found at this Location:</h6>
            <br />
            <div class="row">
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[21]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[7] + "-1.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[22]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[7] + "-2.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[23]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[7] + "-3.png")" style="width:270px; height:200px" />
                </div>
            </div>
            <hr />

            <!--8.Hotel cost part-->
            <br /><h6 style="text-align: center">Estimated hotel cost by star rating:</h6><br />
            <div class="star8" align="center"></div>
        </div>
    </div>
</div>
<div id="overlay9" onclick="off(9)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center; margin:0;padding:0;">#9: Chicago - Illinois</h4>
            <hr />

            <!--9.Images of location-->
            <h6 style="text-align: center">Photos of Chicago:</h6>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/9_1.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/9_2.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/9_3.jpg" style="width:100%; height:200px" />
                </div>
            </div>
            <hr />
            <br />

            <!--9.Images of food-->
            <h6 style="text-align: center">Unique Food Options Found at this Location:</h6>
            <br />
            <div class="row">
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[24]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[8] + "-1.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[25]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[8] + "-2.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[26]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[8] + "-3.png")" style="width:270px; height:200px" />
                </div>
            </div>
            <hr />

            <!--9.Hotel cost part-->
            <br /><h6 style="text-align: center">Estimated hotel cost by star rating:</h6><br />
            <div class="star9" align="center"></div>
        </div>
    </div>
</div>
<div id="overlay10" onclick="off(10)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center; margin:0;padding:0;">#10: New Orleans - Louisiana</h4>
            <hr />

            <!--10.Images of location-->
            <h6 style="text-align: center">Photos of New Orleans:</h6>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/10_1.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/10_2.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/10_3.jpg" style="width:100%; height:200px" />
                </div>
            </div>
            <hr />
            <br />

            <!--10.Images of food-->
            <h6 style="text-align: center">Unique Food Options Found at this Location:</h6>
            <br />
            <div class="row">
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[27]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[9] + "-1.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[28]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[9] + "-2.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[29]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[9] + "-3.png")" style="width:270px; height:200px" />
                </div>
            </div>
            <hr />

            <!--10.Hotel cost part-->
            <br /><h6 style="text-align: center">Estimated hotel cost by star rating:</h6><br />
            <div class="star10" align="center"></div>
        </div>
    </div>
</div>
<div id="overlay11" onclick="off(11)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center; margin:0;padding:0;">#11: Glacier National Park - Montana</h4>
            <hr />

            <!--11.Images of location-->
            <h6 style="text-align: center">Photos of Glacier National Park:</h6>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/11_1.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/11_2.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/11_3.jpg" style="width:100%; height:200px" />
                </div>
            </div>
            <hr />
            <br />

            <!--11.Images of food-->
            <h6 style="text-align: center">Unique Food Options Found at this Location:</h6>
            <br />
            <div class="row">
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[30]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[10] + "-1.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[31]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[10] + "-2.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[32]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[10] + "-3.png")" style="width:270px; height:200px" />
                </div>
            </div>
            <hr />

            <!--11.Hotel cost part-->
            <br /><h6 style="text-align: center">Estimated hotel cost by star rating:</h6><br />
            <div class="star11" align="center"></div>
        </div>
    </div>
</div>
<div id="overlay12" onclick="off(12)">
    <div class="container">
        <div class="jumbotron">
            <h4 style="text-align: center; margin:0;padding:0;">#12: Seattle - Washington</h4>
            <hr />

            <!--12.Images of location-->
            <h6 style="text-align: center">Photos of Seattle:</h6>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/12_1.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/12_2.jpg" style="width:100%; height:200px" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/topLocationImages/12_3.jpg" style="width:100%; height:200px" />
                </div>
            </div>
            <hr />
            <br />

            <!--12.Images of food-->
            <h6 style="text-align: center">Unique Food Options Found at this Location:</h6>
            <br />
            <div class="row">
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[33]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[11] + "-1.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[34]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[11] + "-2.png")" style="width:270px; height:200px" />
                </div>
                <div class="col-sm">
                    <h6 style="text-align: center; margin:0;padding:0;"> @ViewBag.foodItems[35]</h6>
                    <img class="mx-auto d-block" src="@Url.Content("~/Content/Images/FoodsByState/" + @ViewBag.states[11] + "-3.png")" style="width:270px; height:200px" />
                </div>
            </div>
            <hr />

            <!--12.Hotel cost part-->
            <br /><h6 style="text-align: center">Estimated hotel cost by star rating:</h6><br />
            <div class="star12" align="center"></div>
        </div>
    </div>
</div>
<script src="~/Scripts/FavoritesOverlay.js"></script>
